#changePassword_oldPasswordText{
    margin-top: 3px;
    align-self: flex-start;
    color:#E62020;
    display: none;
}

#changePassword_newPasswordText{
    margin-top: 3px;
    align-self: flex-start;
    color:#E62020;
    width: 300px;
    display: none;
}

.changePassword_info{
    width: 300px;
    color: yellow;
}